<<<<<<< HEAD
img{
	width: 10vw;

}
body{
	text-align: center;
}
=======
body{
	text-align: center;
}
img{
	width:10vw;
	height: 10vw;
	margin: 5vw;
    box-shadow: 2px 2px 5px grey ;
}

>>>>>>> f6853371ec80e3727581cd5b80ce875a8d423207
